
{% extends 'userbase.html' %}
{% block content %}
<center>


	<font size="" color="#ff0000"><strong>{{msg}}</strong></font>

<h2>Payment</h2>
<br><br>

<table width="100%" id="tab" >

<tr><th>ID<th>Date of bill<th>Amount<th>
{% for d1 in data %}

<TR><TD>{{d1.id}}<TD>{{d1.dat_e}}<TD>{{d1.amount}} Rs/- <TD>

<form method="post" action="/payment/">
 {% csrf_token %}
		<input type="hidden" name="id" value="{{d1.id}}">
		<input type="hidden" name="amt" value="{{d1.amount}}">
	<input type="submit" value="Pay">
</form>
{% endfor %}

</table>


<br><br><br>
{% endblock %}